.page1_container {
    background-image: linear-gradient(0.87deg, rgba(2, 55, 135, 0.9) 0.69%, rgba(81, 38, 174, 0.4736) 100.48%, rgba(38, 92, 174, 0.0102906) 100.49%, rgba(195, 195, 196, 0.00520833) 100.5%, #76A6EF 100.51%), url(/assets/images/stephen-leonardi-Al9Cl-b7EFU-unsplash1.png);
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 1fr 2fr;
    width: 100vw;
    height: 100vh;
}

.page1_nav_points {
    text-decoration: none;
    font-family: 'Roboto', Times, serif;
    color: white;
    padding: 15px;
}

.page1_nav_points:hover {
    color: rgb(199, 199, 50);
}

.page1_main {
    display: grid;
    margin: 50px;
    grid-template-rows: 1fr 1fr 1fr;
    width: 60vw;
}

.h1 {
    color: white;
    font-family: 'Nunito', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 60px;
    grid-row: 1/2;
}

.page1_text {
    grid-row: 2/3;
    color: white;
    font-family: 'Nunito', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 29px;
}

/*страница 1 - Desktop*/

@media screen and (min-width: 1024px) {

    .page1_search_panel {
        grid-row: 3/4;
        background-color: white;
        width: 85vw;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr 1fr;
        gap: 7px;
        padding: 7px;
    }

    .header {
        grid-row: 1/2;
        display: grid;
        grid-template-columns: 200px 1fr;
        width: 100vw;
        margin: 50px;
    }

    .page1_logo {
        grid-column: 1/2;
    }

    .page1_nav {
        grid-column: 2/3;
        justify-self: center;
    }


    .cell {
        background-color: #FFF0CB;
        border: none;
    }

    .cell1 {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .cell2 {
        grid-row: 1/2;
        grid-column: 2/6;
    }

    .cell3 {
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .cell4 {
        grid-row: 2/3;
        grid-column: 2/3;
    }

    .cell5 {
        grid-row: 2/3;
        grid-column: 3/4;
    }

    .cell6 {
        grid-row: 2/3;
        grid-column: 4/5;
    }

    #button_page1 {
        grid-row: 2/3;
        grid-column: 5/6;
        background-color: #FFC839;
        border: none;
        color: black;
    }

    #button_page1:hover {
        background-color: #d19b14;
    }
}

/*страница 1_планшеты*/
@media screen and (min-width: 768px) and (max-width: 1023px) {}

@media acreen and (orientation: portrait) and (min-width: 768px) and (max-width: 1023px) {}

/*страница 1_телефоны*/
@media screen and (max-width: 767px) {
    .header {
        display: grid;
        grid-template-columns: 1fr;
        margin: 20px;
    }

    .page1_logo {
        grid-row: 1/2;
        width: 60vw;
        justify-self: center;
        padding-bottom: 20px;
    }

    .page1_nav_points {
        text-decoration: none;
        text-align: center;
        font-family: 'Roboto', Times, serif;
        color: white;
        padding: 5px;
        font-size: 10vw;
        justify-self: center;
    }



    /*страница 2*/